* {
    margin: 0;
    padding: 0;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}

a { color: inherit; }

a:hover, a:link, a:visited {
    text-decoration: none;
}

*, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
    width: auto;
    height: auto;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: 400;
    color: #fff;
    background-color: #000;
    
}

.header {
    width: auto;
    height: auto;
    padding: 16px;
    left: 0;
    right: 0;
    transition: padding 1s;
    position: absolute;
    z-index: 10;
}

@media screen and (min-width: 481px) {
    .header {
        padding: 32px;
    }
}

@media screen and (min-width: 641px) {
    .header {
        padding: 64px;
    }
}

.header_left {
    float: left;
    width: 75%;
    height: 40px;
}

.header_right {
    float: left;
    width: 25%;
    height: auto;
}

/* Menu Icon Start */

.menu_btn {
    width: 35px;
    height: 40px;
    float: right;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.6s;
}

.change .bar1 {
    -webkit-transform: rotate(-46deg) translate(-9px, 6px);
    transform: rotate(-46deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(405deg) translate(-8px, -5px);
    transform: rotate(405deg) translate(-8px, -5px);
}

/* Menu Icon End */

#trademark {
    font-size: .5rem;
    }

#logo {
    font-family: 'Raleway', 'Arial', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    line-height: 40px;
    -webkit-transition: font-size 1s; /* Safari */
    transition: font-size 1s;
    white-space:nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1.2rem;
}

@media screen and (min-width: 481px) {
    a#logo {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 641px) {
    a#logo {
        font-size: 1.7rem;
    }
}

a:link#logo, a:visited#logo, a:hover#logo, a:active#logo {
    background-color: none;
    color: #fff;
    padding: 0;
}

.gridcontainer {
    margin: 0;
    width: auto;
    height: auto;
    background-color: #8bacbd;
}

@media screen and (min-width: 481px) {
    .gridcontainer {
        margin: 0;
    }
}

@media screen and (min-width: 641px) {
    .gridcontainer {
        margin: 0;
    }
}

.grid1, .grid2, .grid3 {
    float:left;
    height:500px;
}

.grid1 {
    width: 25%;
    background-color: #fff;
}

.grid2 {
    width: 25%;
    background-color: #fff;
}

.grid3 {
    width: 50%;
    background-color: #fff;
}

.bannertext {
    font-family: 'Raleway', 'Arial', sans-serif;
    color: #fff;
    width: 75%;
    min-height: 480px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 40%;
    padding-bottom: 15%;
    text-align: left;
}

@media screen and (min-width: 481px) {
    div.bannertext {
        padding-top: 20%;
        padding-bottom: 15%;
    }
}

@media screen and (min-width: 641px) {
    div.bannertext {
        padding-top: 20%;
        padding-bottom: 15%;
    }
}

.footer {
    width:auto; height:auto; background-color:#141618; padding-top:80px; padding-bottom:80px;
}

.footernav {
    margin: 0 .3rem 0 0;
    text-shadow: none;
    line-height: 150%;
    list-style-type: none;
    font-family: 'Raleway', 'Arial', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    color: #888782;
    font-size: 1rem;
    transition: all .2s ease-in-out;
    display: inline-block;
    -moz-osx-font-smoothing: grayscale;
}


#footer_logo {
    font-family: 'Raleway', 'Arial', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    line-height: 40px;
    -webkit-transition: font-size 1s; /* Safari */
    transition: font-size 1s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1.5rem;
    text-align: center;
}

.footer_left {
    margin: 0 20px 0 0;
    text-shadow: none;
    line-height: 150%;
    list-style-type: none;
    font-family: 'Raleway', 'Arial', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    color: #888782;
}

@media screen and (min-width: 481px) {
    a#footer_logo {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 641px) {
    a#footer_logo {
        font-size: 1.7rem;
    }
}

a:link#footer_logo, a:visited#footer_logo, a:hover#footer_logo, a:active#footer_logo {
    background-color: none;
    color: #F1494C;
    padding: 0;
}











#tagline {
    font-size: 2rem;
    margin-bottom: 36px;
}

@media screen and (min-width: 481px) {
    h1#tagline {
        font-size: 3rem;
    }
}

@media screen and (min-width: 641px) {
    h1#tagline {
        font-size: 4.5rem;
    }
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #F1494C;
  height: .04em;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}


