* {
    margin: 0;
    padding: 0;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}

*, *:after, *:before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

a { color: inherit; }

a:hover, a:link, a:visited {
    text-decoration: none;
}



body {
    width: auto;
    height: auto;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: 400;
    color: #fff;
    background-color: rgb(39, 45, 61);
    
}

.headerwrapper {
    background-color: transparent;
    width: 100%;
    height: auto;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
}

.active {
    background-color: rgb(39, 45, 61);
    padding: 0px 0;
    transition: all 0.6s;
}

.header {
    width: 90%;
    height: auto;
    padding: 32px 0;
    left: 0;
    right: 0;
    transition: padding 1s;
    margin: 0 auto;
}

@media screen and (min-width: 360px) {
    div.header {
        width: 60%;
        padding: 32px 0;
    }
}

.header_left {
    float: left;
    width: 75%;
    height: 33px;
}

.header_right {
    float: left;
    width: 25%;
    height: auto;
}


#trademark {
    font-size: .5rem;
    }

#logo {
    font-family: 'Raleway', 'Arial', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    line-height: 33px;
    -webkit-transition: font-size 1s; /* Safari */
    transition: font-size 1s;
    white-space:nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
    p#logo {
        font-size: 1.4rem;
    }
}

a:link#logo, a:visited#logo, a:hover#logo, a:active#logo {
    background-color: none;
    color: #fff;
    padding: 0;
}


/* Menu Icon Start */

.menu_btn {
    width: 35px;
    height: 33px;
    float: right;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.6s;
    border-radius: 5px;
}

.change .bar1 {
    -ms-transform: rotate(-45deg) translate(-7px, 5px);
    -webkit-transform: rotate(-45deg) translate(-7px, 5px);
    transform: rotate(-45deg) translate(-7px, 5px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -ms-transform: rotate(405deg) translate(-7px, -6px);
    -webkit-transform: rotate(405deg) translate(-7px, -6px);
    transform: rotate(405deg) translate(-7px, -6px);
}

.menu-item {
    color: rgb(39, 45, 61);
}

/* Menu Icon End */



























.gridcontainer {
    width: auto;
    height: auto;
    background-color: #ffffff;
}

@media screen and (min-width: 481px) {
    .gridcontainer {
        margin: 0;
    }
}

@media screen and (min-width: 641px) {
    .gridcontainer {
        margin: 0;
    }
}

.grid1, .grid2, .grid3 {
    float:left;
    height:500px;
}

.grid1 {
    width: 25%;
    background-color: #fff;
}

.grid2 {
    width: 25%;
    background-color: #fff;
}

.grid3 {
    width: 50%;
    background-color: #fff;
}

.bannertext {
    font-family: 'Lato', sans-serif;
    color: #fff;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    text-align: left;
    font-size: 1.2rem;
}

@media screen and (min-width: 481px) {
    div.bannertext {
        padding-top: 10%;
        padding-bottom: 5%;
    }
}

@media screen and (min-width: 641px) {
    div.bannertext {
        padding-top: 10%;
        padding-bottom: 5%;
    }
}
























/* Footer Start */


#googlemapwrapper {
    width:auto;
    height:400px;
    border-top: 1px solid #141618;
}

.footerwrapper {
    background-color:#2B3433;
    width:auto;
    height:auto;
    font-size: .8rem;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    border-top: 2px solid #F47920;
}

.footer {
    width:60%;
    height:auto;
    margin: 0 auto;
}

.footergrid {
    width:33.3%;
    height:auto;
    float:left;
    text-align: center;
}

.footergridcontent {
    width:auto;
    height:auto;
    text-align: left;
    display: inline-block;
    padding-top:3em;
    padding-bottom:3em;
}

.footergridcontent span {
    color: #F47920;
}

#footerbottom {
    background-color: #fff;
    width:auto;
    height:auto;
    padding:2em 0;
    border-top: 1px solid rgb(100,100,100);
    color:#2B3433;
    text-align:center;
}

/* Footer End */

@media screen and (max-width: 980px) {
    .footer {
        width: 80%;
    }
@media screen and (max-width: 768px) {
    .footer {
        width: 90%;
    }
@media screen and (max-width: 650px) {
    .footergrid {
        width: 100%;
        float: none;
    }
    .footergridcontent {
        display: block;
        text-align: center;
        padding-top:0;
        padding-bottom:3em;
    }
    #footergrid1 {
        padding-top:3em;
    }
}
    
    
    
    
    
    
    
    
    
    
    
@media screen and (min-width: 481px) {
    h1#tagline {
        font-size: 3rem;
    }
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #F47920;
  height: .06em;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}


