.overlay {
    background-color: #141618;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: visibility .4s;
    transition: opacity .4s;
}

.overlay a {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 3rem;
    display: inlineblock;
    transition: 0.4s;
}

@media screen and (min-width: 360px) {
    .overlay a {
        font-size: 4rem;
    }
}
@media screen and (min-width: 768px) {
    .overlay a {
        font-size: 5rem;
    }
}

.overlay-content {
    position: fixed;
    top: 25%;
    width: 100%;
    height: 100%;
    text-align: center;
}