.overlay {
    background-color: #272d3d;
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: visibility .4s;
    transition: opacity .4s;
}

.overlay a {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: rgb(39, 45, 61);
    text-decoration: none;
    text-transform: lowercase;
    font-size: 2.2rem;
    display: inlineblock;
    transition: 0.4s;
}

@media screen and (min-width: 768px) {
    .overlay a {
        font-size: 4rem;
    }
}

.overlay-content {
    position: fixed;
    z-index: 9;
    height: 100%;
    text-align: center;
    top: 30%;
    width: 100%;
}