.overlay {
    background-color: rgba(43,52,51,0.7);
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: visibility .4s;
    transition: opacity .4s;
}

.overlayoverlay {
    width:400px;
    height:100%;
    margin:0 auto;
    }

.overlay a {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #F47920;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 2.2rem;
    display: block;
    transition: 0.4s;
    margin-bottom:
    background-color: #F47920;
    height:100px;
    
}

@media screen and (min-width: 768px) {
    .overlay a {
        font-size: 3rem;
    }
}

.overlay-content {
    padding-top: 250px;
    background-color: rgba(9,9,9,0.9);
    width: 400px;
    height: 100%;
    z-index: 9;
    text-align: center;
    top: 30%;
    margin: 0 auto;
}