@media screen and (max-width: 1680px) {

    .main-header {
        left: 5%;
        background: rgba(136, 34, 34, 0.5);
        width: 20%;
  /*    overflow-y: scroll; */
    }

    .main-header::-webkit-scrollbar {
        display: none;
    }

    .main-header .copyright-text {
        position: relative;
        margin-top: 70px;
    }

    .section {
        color: #fff;
        width: 65%;
        right: 5%;
        left: 30%;
    }

    .main-header .social-network ul li {
        margin: 0px;
    }

    .main-header .social-network ul li a {
        width: 36px;
        height: 36px;
        line-height: 36px;
    }

}

@media screen and (max-width: 1280px) {

    .main-header {
        left: 0%;
        background: rgba(136, 34, 34, 0.5);
        width: 25%;
  /*    overflow-y: scroll; */
    }

    .right-image-post h4,
    .left-image-post h4 {
        margin-top: 0px;
    }

    .right-image-post p,
    .left-image-post p {
        margin-top: 15px;
    }

    .right-image-post .white-button,
    .left-image-post .white-button {
        margin-top: 25px;
    }

}

@media screen and (max-width: 845px) {
    .main-header {
        display: none;
    }
    .responsive-nav {
        display: inline-block;
    }
    .section {
        width: 94%;
        right: 3%;
        left: 3%;
    }
    .isotope-item {
        width: 94%;
        margin: 3%;
    }
    .left-image-post img {
        margin-bottom: 30px;
    }
    .right-image-post img {
        margin-top: 30px;
    }
    .isotope-item {
        border-bottom: none;
        text-align: center;
    }
    .isotope-toolbar {
        margin-bottom: 20px;
    }
    .section-heading {
        text-align: left;
        padding: 80px 0;
    }
    
    .section-heading .line-dec {
        width: 30px;
        height: 2px;
        background-color: #a43f49;
        margin: 10px 0;
    }

    section.my-work .section-heading {
        text-align: center;
        padding: 40px 45px 15px 45px;
    }

    section.my-work  .line-dec {
        width: 30px;
        height: 2px;
        background-color: #a43f49;
        margin: 10px auto;
    }
    
}