* {
  box-sizing: border-box!important;
  -moz-box-sizing: border-box!important;
  -webkit-box-sizing: border-box!important;
}

html, body {
  background-color: #ffffff;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

/*Image Gallery Style*/

.card-columns .card {
  border: none;
  border-radius: 0;
  overflow: hidden;
  background-color: transparent!important;
}

@media (max-width: 767px) {
  .card-columns {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns {
    -webkit-column-count: 2;
            column-count: 2;
  }
}

@media (min-width: 992px) {
  .card-columns {
    -webkit-column-count: 3;
            column-count: 3;
  }
}

/*Scroll Top Style*/

#scrolltop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#scrolltop .btn {
  border-radius: 50%;
}

.icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
  align-self: center;
  position: relative;
}

/*Common Style*/
.modal-content {
  background: transparent!important;
  border: 0;
}

.modal-body {
  background: transparent!important;
  padding: .4rem;
}

.mobilelogo {
 max-width: 100px;
}

.redline {
  border-bottom: solid 2px #E54E5A;
}

.blueline {
  margin-top: 2px;
  border-bottom: solid 2px #78C2EF;
}